@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.well-captured-media-bllllack-1 {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.logo {
  box-shadow: 0 4px 6.4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nav,
.nav1,
.nav3 {
  position: relative;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}
.nav1,
.nav3 {
  font-weight: 500;
}
.nav3 {
  color: var(--color-crimson);
}
.material-symbolsmenu-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-63xl);
}
.lets-talk {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.button,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-crimson);
  border-radius: var(--br-81xl);
  overflow: hidden;
  justify-content: center;
}
.navigation {
  align-self: stretch;
  background-color: var(--color-gray-300);
  justify-content: space-between;
  padding: var(--padding-7xl) var(--padding-53xl);
}
.resume1 {
  flex: 1;
  position: relative;
  line-height: 40px;
  text-transform: capitalize;
}
.resume-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-11xl);
}
.please-view-resume {
  flex: 1;
  position: relative;
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 500;
}
.please-view-resume-only-on-des-wrapper {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.my-resume-1 {
  position: relative;
  width: 910px;
  height: 1365px;
  object-fit: cover;
}
.my-case-studies-child {
  align-self: stretch;
}
.frame-58-child {
  position: relative;
  width: 384px;
  height: 384px;
  object-fit: cover;
}
.div,
.getreat-health-app {
  align-self: stretch;
  position: relative;
}
.div {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  height: 52px;
  flex-shrink: 0;
}
.getreat-health-app {
  font-size: var(--font-size-11xl);
  line-height: 40px;
  text-transform: capitalize;
  color: var(--color-lightgray);
}
.with-user-centered-approach {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 30px;
  color: var(--color-darkgray);
}
.details {
  position: relative;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.button1,
.parent {
  display: flex;
  justify-content: flex-start;
}
.button1 {
  border-radius: var(--br-81xl);
  border: 2px solid var(--color-crimson);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-lg) var(--padding-21xl);
  font-size: var(--font-size-base);
}
.parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.frame-58,
.my-case-studies {
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.frame-58 {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-71xl);
  text-align: left;
  color: var(--color-crimson);
}
.my-case-studies {
  background-color: var(--color-gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-22xl) var(--padding-226xl);
  gap: 76px;
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-lightgray);
}
.have-a-project.animate,
.my-case-studies.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.have-a-projects {
  position: relative;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
}
.have-a-projects-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.lets-work-together {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-23xl);
  text-transform: capitalize;
  font-family: var(--font-playfair-display);
  color: var(--color-lightgray);
}
.if-youre-seeking {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  font-family: var(--font-roboto);
  color: var(--color-darkgray);
}
.heading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.mail-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.send-me-a {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.button3,
.have-a-project {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-21xl);
  background-color: var(--color-crimson);
  border-radius: var(--br-81xl);
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.have-a-project {
  align-self: stretch;
  background-color: var(--color-gray-300);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-36xl) var(--padding-226xl);
  gap: var(--gap-30xl);
  opacity: 0;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  font-family: var(--font-poppins);
}
.well-captured-media1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.facebook-negative1 {
  overflow: hidden;
  flex-shrink: 0;
}
.dribbble-negative1,
.facebook-negative1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.bottom-footer1,
.social-ions1 {
  display: flex;
  flex-direction: row;
}
.social-ions1 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.bottom-footer1 {
  align-self: stretch;
  background-color: var(--color-gray-400);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-12xl) var(--padding-35xl);
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.resume {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .nav {
    font-weight: 700;
    font-family: var(--font-roboto);
    font-size: var(--font-size-base);
  }
  .nav-menu {
    gap: var(--gap-43xl);
  }
}
@media screen and (max-width: 960px) {
  .well-captured-media-bllllack-1 {
    width: 60px;
    height: 60px;
  }
  .nav,
  .nav1,
  .nav3 {
    display: none;
  }
  .material-symbolsmenu-icon {
    display: flex;
  }
  .lets-talk {
    font-size: var(--font-size-sm);
  }
  .button {
    display: none;
  }
  .please-view-resume,
  .resume1 {
    font-size: var(--font-size-5xl);
  }
  .please-view-resume-only-on-des-wrapper {
    display: flex;
  }
  .my-resume-1 {
    display: none;
    width: 700px;
    height: 1065px;
  }
  .getreat-health-app {
    font-size: var(--font-size-5xl);
  }
  .with-user-centered-approach {
    font-size: var(--font-size-base);
  }
  .my-case-studies {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .have-a-projects {
    font-size: var(--font-size-sm);
  }
  .lets-work-together {
    font-size: var(--font-size-13xl);
  }
  .if-youre-seeking {
    font-size: var(--font-size-base);
  }
  .send-me-a {
    font-size: var(--font-size-sm);
  }
  .button3 {
    padding: var(--padding-base) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .lets-talk {
    font-size: var(--font-size-3xs);
  }
  .button,
  .navigation {
    padding: var(--padding-xs) var(--padding-base);
    box-sizing: border-box;
  }
  .navigation {
    padding: var(--padding-mini) var(--padding-xl);
  }
  .frame-58-child {
    width: 284px;
    height: 284px;
  }
  .frame-58 {
    display: none;
  }
  .lets-work-together {
    font-size: var(--font-size-5xl);
  }
  .send-me-a {
    font-size: var(--font-size-2xs);
  }
  .button3 {
    padding: var(--padding-xs) var(--padding-xl);
    box-sizing: border-box;
  }
  .have-a-project {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .well-captured-media1 {
    font-size: var(--font-size-4xs);
  }
  .bottom-footer1 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
.nav24 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-crimson);
  cursor: pointer;
}
.nav25 {
  display: none;
}
.nav25,
.nav26 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.nav-menu6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-43xl);
}
.lets-talk8 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.button35,
.overlay {
  flex-direction: row;
  align-items: center;
}
.button35 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-crimson);
  border-radius: var(--br-81xl);
  overflow: hidden;
  display: none;
  justify-content: center;
}
.overlay {
  position: relative;
  background-color: var(--color-gray-300);
  width: 257px;
  display: flex;
  justify-content: flex-start;
  padding: 51px 0;
  box-sizing: border-box;
  gap: var(--gap-106xl);
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 420px) {
  .lets-talk8 {
    font-size: var(--font-size-smi);
  }
  .button35 {
    padding: var(--padding-xs) var(--padding-3xl);
    box-sizing: border-box;
  }
}
